tfoot th,
tfoot td {
  background: #fafafa;
}
[data-theme="dark"] tfoot th,
[data-theme="dark"] tfoot td {
  background: #1d1d1d;
}

.game-data {
  max-width: 1200px;
  margin: 0 auto;
}

.game-data__action-button {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  margin-top: 20px;
}

.game-data__date {
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
}

.user-wrapper {
  margin-top: 10px;
}

.edit-wrapper {
  display: flex;
}

.input-wrapper {
  margin-right: 10px;
}

.game-user__wrapper {
  display: flex;
}
.game-user__name {
  width: 150px;
  margin-bottom: 20px;
}
.game-user__status-wrapper {
  display: flex;
}
.game-user__points {
  margin-right: 10px;
}